@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;1,300;1,400&display=swap');

*{   
    padding: 0;
    margin: 0;
}
a{
    color: white;
    text-decoration: none;
}
body{
    background-image: linear-gradient( to right, #01022d,#000);
    background-position:center ;
    height: 100vh;
    display:flex;
    justify-content:center ;
    align-items:center;
}
.contaner{
    background-image:linear-gradient(to right,#01022de5,#000000a0) ,url(bg.webp);
    width: 88%;
    height:640px ;
}
.contaner:hover{
    background-image:linear-gradient(to right,#01022de5,transparent) ,url(bg.webp);

}
header{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 10px;
}
.logo{
    font-size: 30px;
}
ul{
    width:60% ;
    list-style: none;
    display: flex;
    justify-content:space-evenly ;
}
ul a{
    border-bottom: 2px solid transparent;

}
ul a:hover{
    border-bottom-color:white ;
}
.content{
    color: white;
    width: 50%;
    margin-top:50px ;
    padding: 30px;
}
.content h2{
    font-size: 100px;
}
.content p{
    letter-spacing:2px;
    padding: 30px;
    width: 210px;
}
.content button{
    font-size: 20px;
    padding: 6px 10px ;
    border-radius: 10px;
    border:2px solid transparent;
    cursor: pointer;
}
.content button:hover{
    background-color: transparent;
    border-color:white;
    color: white;
}